.app__aside {
  grid-area: aside;
  background-color: #2b2f39;
}

.page-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 1rem;
    &__link {
      //background: url("..") no-repeat center 10px/42px
      
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      //padding-bottom: 5px;
      font-size: 0.8rem;
      
      img {
        height: 64px;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
      }
    }
    &--active {
      img {
        background-color: $primary-color;  
      }
    }
  }
}
