.app__aside {
  grid-area: aside;
  background-color: #2b2f39;
}

.page-nav {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  @include breakpoint(medium) {
    flex-direction: column;
    padding: .5rem 0;
  }
  &__item {
    padding: .5rem 1rem;
    &__link {

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #eee;
      //text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      //padding-bottom: 5px;
      font-size: 0.8rem;
      
      img {
        height: 64px;
        padding: 0.75rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        background-color: darken(#2b2f39, 10%);
        box-shadow: 0 4px 5px rgba(#000, .15); 
        transition: background .25s;
      }
    }
    &--active, &:hover {
      img {
        background-image: linear-gradient(45deg, $primary-color, #1ed4d4);
        background-color: $primary-color;
        
      }
      color: #fff;
    }
  }
}
