.app__header {
	grid-area: header;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0 30px;
	margin: 0;
	border-bottom: 1px solid $light-gray;
	color: lighten($body-color, 10%);
	&__title {
		flex-grow: 1;
		font-size: 18px;
		font-weight: 600;
		small {
			margin-left: 10px;
		}
	}
	.github-button, iframe {
		margin-left: 15px;
	}
}

.app__brand {
	grid-area: brand;
	background: $primary-color url('../images/brand.jpg') no-repeat center/cover;
	text-indent: -9999px;
	margin: 0;
	//padding: rem;
	&__link {
		display: block;
		height: 100%;
		background: url('../images/polsola.svg') no-repeat center/contain;
	}
}
