.app__header {
	grid-area: header;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0 30px;
	margin: 0;
	border-bottom: 1px solid $light-gray;
	color: lighten($body-color, 10%);
	@include breakpoint(medium) {
		flex-direction: row;
		justify-content: space-between;
	}
	&__title {
		
		font-size: 18px;
		font-weight: 600;
		@include breakpoint(medium) {
			flex-grow: 1;
		}
		small {
			margin-left: 10px;
		}
	}
	&__buttons {
		display: none;
		@include breakpoint(large) {
			display: block;
		}
	}
	.github-button, iframe {
		margin-left: 15px;
	}
}

.app__brand {
	grid-area: brand;
	background: $primary-color url('../images/brand.jpg') no-repeat center/cover;
	text-indent: -9999px;
	margin: 0;
	overflow: hidden;
	&__link {
		display: block;
		height: 100%;
		background: url('../images/polsola.svg') no-repeat center/contain;
	}
}
