.app__main {
	grid-area: main;
	padding: 15px;
	overflow: auto;
	@include breakpoint(medium) {
		padding: 30px;
	}
	&__header {
		@include breakpoint(medium) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#download {
			display: none;
		}
	}
}

.composition-devices {
	list-style: none;
	margin: 0;
	padding: 0;
	.devices__item {
		&__link {
			padding-left: 0;
			padding-right: 0;
			&__index {
				padding-right: 1rem;
			}
		}
		
	}
}
